In [35]:
import pandas as pd

In [36]:
df = pd.ExcelFile('raw_dataset2.xlsx')

In [37]:
df.sheet_names

['MTW_66', 'MTC_66', 'MNW_66', 'MNC_66']

In [38]:
i = 0
for sn in df.sheet_names:
    sheet = df.parse(sn, header=0)
    print(sheet.shape)
    if i > 0:
        combined = pd.concat([combined, sheet])
    else:
        combined = sheet
    i+=1

(596, 233)
(298, 233)
(669, 233)
(318, 233)

In [39]:
combined = combined.iloc[:,1:]

In [40]:
combined.head()

,Unnamed: 1,SCC,Fat,Protein,900.815134,905.995846,909.876158,913.751992,917.62335,921.490231,...,1673.904901,1676.76602,1679.622662,1683.424554,1686.270751,1689.11247,1691.949714,1694.78248,1697.61077,1701.374859
0,MTW1,8881000,4.555,3.17,1.432292,1.422342,1.415025,1.429524,1.433800,1.436455,...,2.107516,2.108642,2.117899,2.112989,2.082770,2.149019,2.231297,2.459630,2.210461,2.318466
1,MTW2,8881000,4.551,3.18,1.415992,1.401686,1.418059,1.425166,1.442598,1.444522,...,2.156641,2.124154,2.112063,2.161984,2.181223,2.168208,2.162432,2.170974,2.263636,2.390094
2,MTW3,3622000,3.186,3.21,1.445686,1.454351,1.445714,1.444534,1.463467,1.463266,...,2.232786,2.234089,2.309634,2.332796,2.388134,2.397855,2.335921,2.303509,2.341360,2.427611
3,MTW4,3622000,3.184,3.20,1.453823,1.441488,1.445195,1.439905,1.466778,1.463368,...,2.276042,2.251733,2.315292,2.418508,2.205048,2.211299,2.461379,2.365657,2.461236,2.780610
4,MTW5,1631000,1.178,2.46,1.568280,1.597760,1.545032,1.540848,1.586477,1.584939,...,2.477821,2.536137,2.560293,2.607769,2.784831,2.452617,2.533552,2.487333,3.598820,2.355563

In [42]:
combined.to_excel('dataset2.xlsx',index=False)